[user]
	email = jaywonchung@snu.ac.kr
	name = Jaewon Chung
[alias]
	last = log -1 HEAD
	unstage = reset HEAD --
[core]
	editor = vim
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[difftool]
  prompt = false
  trustExitCode = true
