[user]
  email = jaywonchung@snu.ac.kr
  name = Jaewon Chung
[credential]
  helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[alias]
  last = log -1 HEAD
  unstage = reset HEAD --
[core]
  editor = nvim
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[difftool]
  prompt = false
  trustExitCode = true
[difftool "vimdiff"]
	path = nvim
[mergetool "vimdiff"]
	path = nvim
