move_down        j
move_down        <C-e>
move_down        e
move_up          k
move_up          <C-y>
move_up          y

screen_down      d
screen_up        u

next_page        l
next_page        <tab>
previous_page    h
previous_page    <stab>

next_state       <C-i>
prev_state       <C-o>

keyboard_overview <S-f>

zoom_in          =

fit_to_page_width s
fit_to_page_width_smart S
fit_to_page_height a
fit_to_page_height_smart A

toggle_fullscreen <return>

command          ;

toggle_dark_mode  <C-r>

close_window      q

control_click_command synctex_under_cursor
