check_for_updates_on_startup 1
hover_overview 1
rerender_overview 1
startup_commands toggle_synctex
super_fast_search 1
use_ruler_to_highlight_synctex_line 0
synctex_highlight_color 1.0 0.95 0.0
synctex_highlight_timeout 1.5
open_last_file_on_startup 0
should_load_tutorial_when_no_other_file 0
should_launch_new_window 1
